.btn-top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  z-index: 9999;
  
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
}

.btn-top-right img {
  width: 100px; /* ajuste o tamanho conforme necessário */
  height: auto;
  display: block;
}

.btn-top-right .btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-family: 'Press Start 2P','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  pointer-events: none; /* evita que o texto interfira no clique do botão */
  text-shadow: 1px 1px 2px black; /* melhora a legibilidade sobre a imagem */
}



.btn-entrar {
  background-color: #2ecc71;
  color: black;
  font-size: 10px;
  font-weight: bold;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Press Start 2P', sans-serif;
  transition: background-color 0.3s ease;
}

.btn-entrar:hover {
  background-color: #27ae60;
}